<!---- Start section 1 - This is a section ---->
<div class="pdfTableTopLevel">
<div class="pdf-table-head pdf-lvl-1 pdfTopLevel">1 - This is a section</div>
<div class="section-content">
<!---- Text field: Your name ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourName].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourName].value }}</div>
</div>
</div>
<!---- Number field: Your age ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourAge].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourAge].value }}</div>
</div>
</div>
<!---- Date field: Your date ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourDate].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourDate].rendered }}</div>
</div>
</div>
<!---- Multiline field: Your multiline ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourMultiline].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourMultiline].value }}</div>
</div>
</div>
<!---- Patient Id field: Patient ID ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].value }}</div>
</div>
</div>
<div class="pdf-fieldset">
<!---- Text field: Internal patient ID ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[internal_patient_id].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[internal_patient_id].value }}</div>
</div>
</div>
<!---- Text field: Last name ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[name].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[name].value }}</div>
</div>
</div>
<!---- Text field: First name ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[first_name].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[first_name].value }}</div>
</div>
</div>
<!---- Date field: Date of birth ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[date_of_birth].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[date_of_birth].rendered }}</div>
</div>
</div>
<!---- Choice field: Sex ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[sex].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[sex].selectedOptionLabel.nl }}</div>
</div>
</div>
<!---- Start Nested fields under choice ---->
<div class="pdf-fieldset">



</div>
<!---- End nesting under choice ---->
<!---- Boolean field: Deceased? ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[deceased].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[deceased].value }}</div>
</div>
</div>
<!---- Date field: Date of death ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[date_of_death].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[date_of_death].rendered }}</div>
</div>
</div>
<!---- Referencelist field: Place of residence ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[patient_id].nested.[place_of_residence].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[patient_id].nested.[place_of_residence].labels.nl }}</div>
</div>
</div>
</div>
<!---- Start section 1.1 - This is a subsection ---->
<div class="pdfTableSubLevel">
<div class="pdf-table-head pdf-lvl-2">1.1 - This is a subsection</div>
<div class="section-content">
<!---- Boolean field: Your boolean ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourBoolean].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourBoolean].value }}</div>
</div>
</div>
</div>
</div>
<!---- End section 1.1 ---->
</div>
</div>
<!---- End section 1 ---->
<!---- Start section 2 - This is the second section ---->
<div class="pdfTableTopLevel">
<div class="pdf-table-head pdf-lvl-1 pdfTopLevel">2 - This is the second section</div>
<div class="section-content">
<!---- Referencelist field: Your referencelist ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourReferencelist].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourReferencelist].labels.nl }}</div>
</div>
</div>
<!---- Choice field: Your choice ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourChoice].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourChoice].selectedOptionLabel.nl }}</div>
</div>
</div>
<!---- Start Nested fields under choice ---->
<div class="pdf-fieldset">

<!---- Text field: Nested text under choice ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourChoice].nested.[nestedTextUnderChoice].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourChoice].nested.[nestedTextUnderChoice].value }}</div>
</div>
</div>
</div>
<!---- End nesting under choice ---->
<!---- Choice field: Your multichoice ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourMultichoice].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value pre-wrap-off">
<ul>
<li class="{{ inArray document.nested.[yourMultichoice].values 'choice1' }}">Choice 1</li>
<li class="{{ inArray document.nested.[yourMultichoice].values 'choice2' }}">Choice 2</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<!---- End section 2 ---->
<!---- Start section 3 - This is the third section ---->
<div class="pdfTableTopLevel">
<div class="pdf-table-head pdf-lvl-1 pdfTopLevel">3 - This is the third section</div>
<div class="section-content">
<!---- Start Fieldset: Your fieldset ---->
<div class="pdf-fieldset">
<div class="pdf-fieldset-head">{{ document.nested.[yourFieldset].fieldLabel.nl }}</div>
<div class="pdf-fieldset-content">
<!---- Number field: Number under fieldset ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[yourFieldset].nested.[numberUnderFieldset].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourFieldset].nested.[numberUnderFieldset].value }}</div>
</div>
</div>
</div>
</div>
<!---- End Fieldset ---->
<!---- Start List: Your list ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label listlabel">{{ document.nested.[yourList].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[yourList].value }}</div>
</div>
{{#each document.nested.[yourList].elements}}
<div class="pdf-row">
<div class="pdf-column pdf-column-label listlabelPad pre-wrap-off">{{ document.nested.[yourList].fieldLabel.nl }} nr. {{math @index "+" 1}}</div>
<div class="pdf-column pdf-column-value pdf-table-list">
<!---- Number field: Number in list ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ this.nested.[listNumberField].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ this.nested.[listNumberField].value }}</div>
</div>
</div>
</div>
</div>
{{/each}}
</div>
<!---- End List ---->
<!---- Questionnaire field: Questionnaire title ---->
<div class="pdf-fieldset"><div class="pdf-fieldset-head">{{ document.nested.[questionnaire_title].fieldLabel.nl }}</div>
<div class="pdf-fieldset-content">
<!---- Question field: Question 1 ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[question_1].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[question_1].answerLabel.nl }}</div>
</div>
</div>
<!---- Question field: Question 2 ---->
<div class="pdf-field">
<div class="pdf-row">
<div class="pdf-column pdf-column-label">{{ document.nested.[question_2].fieldLabel.nl }}</div>
<div class="pdf-column pdf-column-value">{{ document.nested.[question_2].answerLabel.nl }}</div>
</div>
</div>
</div></div>
</div>
</div>
<!---- End section 3 ---->